
assignment/assignment2/data/cifar-10-python.tar.gz
assignment/assignment2/assignment2.zip
assignment/solution/data/cifar-10-python.tar.gz
assignment/solution/data/cifar-10-batches-py/data_batch_1
assignment/solution/data/cifar-10-batches-py/data_batch_2
assignment/solution/data/cifar-10-batches-py/data_batch_3
assignment/solution/data/cifar-10-batches-py/data_batch_5
assignment/solution/data/cifar-10-batches-py/data_batch_4
assignment/solution/data/cifar-10-batches-py/test_batch
assignment/solution/data/cifar-10-batches-py/readme.html
assignment/solution/data/cifar-10-batches-py/batches.meta
cifar-10-python.tar.gz
